:root {
  --ion-color-primary: #8746ff;
  --ion-color-primary-rgb: 135, 70, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #773ee0;
  --ion-color-primary-tint: #9359ff;

  --ion-font-family: 'IBM Plex Sans', system-ui, sans-serif;
}
